@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.piitram-wrapper {
  position: relative;
  min-height: 100vh; 
  background: linear-gradient(180deg, #000000 0%, #320d6d 50%, #7d00ff 100%);
}

.piitram-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  position: relative; 
}

.heading-container {
  text-align: center;
  position: relative; 
}

.boogaloo-regular {
  font-family: "Boogaloo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem; 
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Boogaloo", sans-serif;
  margin: 0; 
}

h1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #6751b9; 
  animation: underline 6s infinite ease-in-out;
}

@keyframes underline {
  0% { width: 0%; }
  50% { width: 100%; }
  100% { width: 0%; }
}

.hidden-text {
  opacity: 0;
  animation: revealText 3s forwards;
}

@keyframes revealText {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.button-container {
  text-align: center;
  margin-top: 1.5rem; 
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 0.6rem 2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  color: white;
  text-decoration: none;
  border-radius: 0.65rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  color: #a993fe;
  background: #000;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden; 
  box-sizing: border-box;
}

.slider-slide {
  display: flex;
  justify-content: center; 
}

.slider-image {
  width: 40%; 
  height: 40%; 
  object-fit: cover; 
  border: 2px solid #6751b9; 
  border-radius: 0.65rem; 
  transform: translateX(480px);
}

.arrow-left-2,
.arrow-right-2 {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  background: #130f2a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.arrow-left-2 {
  left: 20%; 
}

.arrow-right-2 {
  right: 20%;
}

.main-content {
  display: flex; 
  justify-content: space-between; 
  margin-top: 5rem;
  width: 100%;
  box-sizing: border-box; 
}

.honours {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 50%;
}

.honours img {
  width: 100%; 
  height: auto; 
  display: block; 
  max-width: 100%; 
  padding: 1rem;
  border-radius: 0.65rem; 
  border: 2px solid #6751b9;
}

.honours-text {
  width: 50%;
  margin-left: 2rem; 
  text-align: left; 
}

.honours-text h2 {
  width: 70%; 
  margin-left: 2rem; 
  text-align: center;
  font-size: 43px;
  font-family: "Caveat", cursive;
  font-weight: 700; 
  border: 2px solid #6751b9;
}

.honours-text ul{
  font-size: 20px;
  margin-top: 3rem;
  margin-left: 3rem;
} 

.honours-text p{
  margin-top: 2rem;
}

.cite-container {
  border: 4px solid #ccc; 
  padding: 1rem;
  margin: 1rem; 
  margin-top: 6rem; 
  width: 40rem; 
  background-color: #51abb9;
}

.cite-container h4 {
  font-size: 20px; 
  color: #fff; 
  margin-bottom: 1rem; 
}

.cite-container p {
  font-size: 18px; 
  color: #fff;
  display: flex; 
  align-items: center; 
  margin-top: 1rem; 
  margin-bottom: 1rem; 
}

.cite-container img {
  margin-right: 0.5rem; 
  width: 20px; 
  height: 20px; 
}

@media(max-width: 1306px){
  .cite-container{
    width: 35rem;
  }
  .honours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    width: 50%;
    margin: 0; 
    padding: 0; 
  }
  
  .honours img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0.2rem; 
    margin: 0;
    border-radius: 0.65rem;
    border: 2px solid #6751b9;
  }
  
  .honours-text {
    width: 50%;
    margin-left: 2rem;
    text-align: left;
  }
  
  .honours-text h2 {
    width: 70%;
    margin-left: 2rem;
    text-align: center;
    font-size: 43px;
    font-family: "Caveat", cursive;
    font-weight: 700;
    border: 2px solid #6751b9;
  }
  
  .honours-text ul {
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  
  .honours-text p {
    margin-top: 2rem;
  }
  
  
}

@media(max-width: 1150px){
  .cite-container{
    margin-top: 20rem;
    margin-left: -4rem;
  }
}

@media (max-width: 1024px) {
  .arrow-left-2 {
    left: 10%;
  }

  .arrow-right-2 {
    right: 10%; 
  }

  .slider-image {
    width: 35rem; 
    height: 35rem; 
    object-fit: cover; 
    border: 2px solid #6751b9;
    border-radius: 0.65rem;
    transform: translateX(240px);
  }

  .main-content {
    flex-direction: column; 
    align-items: center; 
  }

  .honours {
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    width: 100%; 
    padding: 1rem;
    margin-top: 3rem;
  }

  .honours img {
    width: 30rem;
    height: auto; 
    border-radius: 0.65rem; 
    border: 2px solid #6751b9;
    object-fit: cover; 
  }

  .honours-text{
    margin-top: 3rem;
  }

  .honours-text h2{
    font-size: 5rem;
    width: 45rem;
    margin-left: -6rem;
  }

  .honours-text ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 0 2rem; 
    justify-items: start; 
    margin-left: -6rem;
    margin-right: -9rem;
  }

  .honours-text ul p {
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    box-sizing: border-box;
  }

  .cite-container {
    margin-left: -5rem;
  }
}
@media(max-width: 870px){
  .cite-container{
    justify-content: center;
  }
  .honours-text h2{
    margin-left: -10rem;
  }
  .honours-text ul{
    margin-left: -10rem;
  }
}

@media(max-width: 826px){
  .cite-container{
    justify-content: center;
  }
}

@media(max-width: 780px){
  .honours-text h2{
    font-size: 45px;
    width: 25rem;
    margin-left: 0;
  }
}

@media (max-width: 770px) {
  .heading-container {
    padding: 0 1rem; 
    margin-bottom: 1.5rem;
  }
  
  h1 {
    font-size: 2rem; 
  }
  
  .button {
    padding: 0.5rem 1.5rem; 
    font-size: 1rem; 
  }

  .arrow-left-2 {
    left: 7%; 
  }

  .arrow-right-2 {
    right: 7%; 
  }

  .slider-image {
    width: 30rem;
    height: 30rem;
    object-fit: cover; 
    border: 2px solid #6751b9; 
    border-radius: 0.65rem; 
    transform: translateX(150px);
  }

  .main-content {
    flex-direction: column; 
    align-items: center; 
  }

  .honours {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    width: 100%; 
  }

  .honours-text {
    width: 100%; 
    margin-left: 8rem;
    text-align: center; 
  }

  .honours-text h2{
    font-size: 4rem;
    margin-left: 7rem;
    width: 30rem;
  }

  .honours-text ul{
    margin-right: 4rem;
    text-align: left;
  }

  .honours-text ul p {
    margin-left: 3.8rem;
    font-size: 18px;
  }

  .cite-container{
    margin-left: 0.5rem;
  }
  .cite-container h4{
    text-align: left;
  }

  .cite-container p{
    margin-left: 1rem;
    text-align: left;
  }
}

@media (max-width: 716px) {
  .cite-container {
    width: 30rem;
    justify-content: center;
    text-align: left;
    margin-left: 3rem;
  }

  .cite-container h4 {
    margin-left: 1rem;
  }

  .honours-text h2 {
    font-size: 3rem;
    width: 25rem;
    text-align: center;
  }

  .honours-text ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    margin-left: 3rem;
  }

  .cite-container p {
    margin-left: 1rem;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .heading-container {
    padding: 0 0.5rem; 
    margin-bottom: 1rem; 
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  .button {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }

  .arrow-left-2 {
    left: 5%; 
  }

  .arrow-right-2 {
    right: 4%; 
  }

  .slider-container{
    margin-top: 3rem;
  }

  .slider-image {
    width: 15rem; 
    height: 15rem; 
    object-fit: cover; 
    border: 2px solid #6751b9; 
    border-radius: 0.65rem; 
    transform: translateX(100px);
  }

  .honours{
    margin-top: -1rem;
  }

  .honours-text{
    margin-top: 2rem;
    width: 30rem;
    margin-left: -2rem;
  }

  .honours-text h2{
    margin-left: 5rem;
    font-size: 2rem;
    width: 20rem;
    margin-left: 7rem;
  }

  .honours-text ul {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem 0;
    justify-items: center; 
    margin-left: 3rem;
  }

  .honours-text p{
    margin-left: -5rem;
  }

  .cite-container{
    width: 25rem;
    margin-left: 3.5rem;
  }

  .cite-container h4{
    margin-left: 1rem;
  }
  .cite-container p{
    margin-left: 1rem;
    text-align: left;
  }
}

@media(max-width: 395px){
  .cite-container{
    justify-content: center;
    align-items: center;
    width: 23rem;
    margin-left: 4.5rem;
  }
  .heading-container h1{
    font-size: 2.5rem;
  }
  .hidden-text {
    font-size: 2.5rem;
  }
}