.experience-link {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}

.experience-container {
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 90%;
    margin: 4rem auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.experience-container.animate {
    opacity: 1;
    transform: translateY(0);
}

.experience-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    margin-left: -3rem;
}

.arrow-right:before {
    content: '>';
}

.arrow-left:before {
    content: '<';
}

.arrow-left,
.arrow-right {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6751b9;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background: #130f2a;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}

.arrow-left span,
.arrow-right span {
    font-size: 1.5rem;
    font-weight: 500;
}

.arrow-left {
    left: -3rem;
}

.arrow-right {
    right: -3rem;
}

@media (max-width: 1025px) {
    .arrow-left {
        left: -2rem;
    }

    .arrow-right {
        right: -2rem;
    }
}

@media(max-width: 811px){
    .experience-container h5{
        margin-left: -1.5rem;
    }
}

@media (max-width: 768px) {
    .experience-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        margin-left: -1rem;
    }

    .arrow-left {
        left: -1.5rem;
    }

    .arrow-right {
        right: -1.5rem;
    }
}
