body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
  box-sizing: border-box;
  user-select: none;
}

.footer {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  background: linear-gradient(90deg, #3D3072 0%, #423477 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0.1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.footer * {
  max-width: 100%;
  box-sizing: border-box;
}

.profileLogo {
  width: 12rem;
  height: auto;
}

@media (max-width: 600px) {
  .footer {
      width: 100%; 
      font-size: 13px;
      gap: 2rem;
      padding: 0.5rem;
      overflow: hidden;
  }
}
