.skills-info-card {
    width: 100%;
    max-width: 60rem;
    min-width: 25rem;
    border-radius: 0.75rem;
    border: 2px solid #6751b9;
    background: rgba(22, 17, 47, 0.45);
    backdrop-filter: blur(1.5rem);
    padding: 1rem;
    margin: -1rem auto 1rem;
    box-sizing: border-box;
}

.skills-info-card h6 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem;
    background: linear-gradient(180deg, #ac96ff 0%, #7c5fe6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #6751b9;
}

.skills-info-content {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 0.3rem; 
    word-wrap: break-word; 
    word-break: break-word; 
}

.skill-info {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}

.skill-info .tick {
    color: white; 
    font-size: 1.2rem; 
    flex-shrink: 0; 
}

.skill-info p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.5;
    word-break: break-word; 
    flex-grow: 1; 
}


@media (max-width: 1025px) {
    .skills-info-card h6 {
        font-size: 1.1rem;
    }
    .skill-info p {
        font-size: 0.9rem;
    }
    .skills-info-content {
        padding: 1.5rem;
    }
}

@media(max-width: 811px){
    .skills-info-card {
        width: 107.5%;            
        max-width: 45rem;      
        min-width: 20rem;
        margin-left:-1rem;       
    }
}

@media (max-width: 768px) {
    .skills-info-content {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 480px) {
    .skills-info-card {
        min-width: 100%; 
        padding: 0.75rem;
       
    }
    .skills-info-card h6 {
        font-size: 1rem; 
    }
    .skills-info-content {
        grid-template-columns: 1fr; 
        padding: 1rem;
    }
    .skill-info p {
        font-size: 0.85rem; 
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

