@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.core-team-container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #87ceeb 10%, #5a6ae1 40%, #2e41ca 60%, #00008b 70%, #000000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.heading-container {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.boogaloo-regular {
  font-family: "Boogaloo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

h1 {
  font-size: 5rem;
  line-height: 1.4;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-family: "Boogaloo", sans-serif;
}

.hidden-text {
  opacity: 0;
  animation: revealText 3s forwards;
  font-family: "Boogaloo", sans-serif;
  font-size: 5rem;
}

@keyframes revealText {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image-quote-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden; 
  padding: 2rem;
}

.reveal-image {
  width: 15rem;
  transition: transform 0.5s ease;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

.initial-text {
  font-size: 6rem;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: "Sriracha";
  text-align: center;
}

.reveal-text {
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  max-width: 100%; 
  font-size: 1rem;
  word-wrap: break-word; 
  line-height: 1.5;
  opacity: 0;
  margin-top: -2rem;
}

.image-quote-wrapper:hover .initial-text {
  opacity: 0; 
}

.image-quote-wrapper:hover .reveal-image {
  transform: translateX(-10%); 
}

.image-quote-wrapper:hover .reveal-text {
  transform: translateX(0);
  opacity: 1;
}

.image-quote-wrapper:not(:hover) .reveal-text {
  opacity: 0;
}

blockquote {
  font-style: italic;
  margin: 0;
  padding: 1rem;
  border-left: 4px solid #a993fe;
  color: #fff;
  font-size: 0.9rem; 
}

.quote-text {
  margin: 0;
}

footer {
  text-align: right;
  font-size: 0.9rem; 
  color: #532de9;
}

.onboarding-sec {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
}

.onboarding-sec .image-container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.onboarding-sec img {
  width: 60%;
  height: auto;
  margin-bottom: 1.5rem; 
  border: 3px solid #fff;
  border-radius: 5px;
}

.content {
  text-align: left; 
  max-width: 40%; 
  margin-top: 13rem;
  transform: translateX(-20%);
}

.content h3{
  font-size: 2rem;
}

.content p{
  font-style: italic;
}

.event-hosted {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: flex-start; 
  align-items: flex-start; 
  margin-top: 2rem;
  margin-left: 6rem;
}

.event-hosted .written-text {
  text-align: left; 
  max-width: 40%; 
  margin-right: 2rem;
  margin-top: 11rem;
  transform: translateX(0); 
}

.event-hosted h3 {
  font-size: 2rem;
}

.event-hosted p {
  font-style: italic;
  margin-bottom: 1rem;
}

.event-hosted .emcee-photo {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-left: 8rem;
}

.event-hosted img {
  width: 100%; 
  height: auto;
  margin-bottom: 1.5rem; 
  border: 3px solid #fff;
  border-radius: 5px;
  margin-top: 3rem;
}

.cert-2324 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; 
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.cert-2324 .written-text {
  text-align: left; 
  margin-top: 3.5rem;
}

.cert-2324 h3 {
  font-size: 2rem;
  margin: 0;
}
.cert-2324 p {
  font-style: italic;
  margin-top: 1rem;
}
.cert-2324 .cert-2324-photo {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.cert-2324 img {
  width: 100%; 
  height: auto; 
  max-width: 600px; 
  border: 3px solid #fff;
  border-radius: 5px;
}

.button-container {
  text-align: center; 
}

.button {
  display: inline-block;
  padding: 0.6rem 2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 4px;
  font-weight: bold;
  border: none;
  outline: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  color: #a993fe;
  background: #000;
  outline: 1.5px solid #a993fe;
}

@media(max-width: 1389px){
  .slider-image{
    margin-left: -6rem;
  }
}

@media(max-width: 1040px){
  .content{
    margin-top: 6rem;
  }
  .event-hosted{
    margin-top: -10rem;
    margin-bottom: 4rem;
  }
  .emcee-photo{
    margin-top: 12rem;
    width: 28rem;
  }
}

@media(max-width: 950px){
  .emcee-photo img{
    margin-left: -2rem;
  }
}

@media(max-width: 870px){
  .initial-text{
    font-size: 80px;
  }
  .emcee-photo img{
    margin-left: -5rem;
  }
}

@media(max-width: 768px){
  .initial-text{
    font-size: 4.5rem;
  }
  .image-container-1{
    width: 35rem;
    margin-left: 3rem;
  }
  .content{
    margin-top: 1rem;
  }
  .event-hosted{
    margin-top: -4rem;
    margin-left: -1rem;
  }
  .emcee-photo{
    margin-top: 18rem;
    width: 22rem;
  }
  .written-text{
    margin-left: 2rem;
  }
}

@media(max-width: 730px){
  .initial-text{
    font-size: 3.5rem;
  }
  .event-hosted .written-text{
    margin-left: 7rem;
  }
}

@media(max-width: 690px) {
  .image-quote-wrapper{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .initial-text{
    font-size: 3.5rem;
  }
  .reveal-text {
    max-height: 1000px; 
    opacity: 1;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .onboarding-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image-container-1{
    margin-left: 14rem;
    width: 35rem;
  }
  .content{
    margin-top: 1rem;
    margin-left: 8rem;
  }
  .event-hosted{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30rem;
    margin-left: -7rem;
    margin-top: 8rem;
  }
  .emcee-photo{
    margin-top: -52rem;
    width: 20rem;
  }
  .emcee-photo img{
    margin-top: 9rem;
    margin-left: 0;
  }
  .written-text{
    margin-top: 8rem;
    margin-left: 4rem;
  }
  .cert-2324{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
  }
  .cert-2324-photo{
    margin-bottom: -2rem;
  }
}

@media(max-width: 454px){
  .initial-text{
    font-size: 3.3rem;
  }
  .cert-2324 .written-text{
    margin-left: -0.5rem;
  }
  .heading-container h1{
    font-size: 2.5rem;
  }
  .hidden-text {
    font-size: 2.5rem;
  }
  .emcee-photo img{
    margin-left: 0;
    margin-top: 0;
  }
}