.alibaba-wrapper {
    position: relative;
    min-height: 100vh; 
}
  
.aurora-gradient {
    position: absolute; 
    bottom: -50px; 
    left: 0;
    right: 0;
    height: 1000px; 
    z-index: -1; 
}

.alibaba-cert-heading{
    text-align: center;
    font-size: 30px;
    margin-top: 3rem;
    padding: 1rem;
}

.associate-cert{
    margin-bottom: 5rem;
    padding: 2.5rem;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 1rem;
}

.associate-cert h4{
    font-size: 2rem;
    max-width: 400px;
    border: 1px solid #6751b9;
    padding: 2rem;
    border-radius: 15%;
    height: 20rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

.associate-cert h4:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(103, 81, 185, 0.5); 
}

.desc{
    margin-left: 1rem;
    text-align: left;
    user-select: none;
}

.spec-head{
    font-size: 2rem;
    margin-left: 2rem;
}

.cert-img {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30%; 
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #6751b9;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

.cert-img img {
    width: 100%; 
    height: auto;
    margin-bottom: 1rem;
}

.cert-img:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(103, 81, 185, 0.5);
}

.specialty-cert {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-bottom: 5rem;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, filter 0.6s ease-out, transform 0.6s ease-out;
}

.specialty-cert.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0); 
}

.miscellaneous-cert{
    font-size: 2rem;
    margin-left: 2rem;
}

.alibaba-cert-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 50px; 
    user-select: none;
}
  
.cert-image-1 {
    width: 100%;
    height: auto;
    padding: 2rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.cert-image-1-container {
    position: relative;
    width: 100%; 
    text-align: left; 
}

.cert-image-1.image1 {
    opacity: 1; 
    transform: scale(1); 
}

.cert-image-1.image2 {
    opacity: 0; 
    transform: scale(0.7); 
}

.cert-image-1-container:hover .image1 {
    opacity: 0;
}

.cert-image-1-container:hover .image2 {
    opacity: 1; 
}

.cert-image-1-container {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.cert-image-1-container.visible {
    opacity: 1;
    transform: translateY(0);
}
@media(max-width: 1292px){
    .hanging-image .image{
        margin-left: 15rem;
    }
    .desc{
        margin-top: 25rem;
    }
}
@media(max-width: 1067px){
    .associate-cert h4{
        width: 22rem;
    }
}

@media(max-width: 1024px){
    .associate-cert h4 {
        width: 20rem; 
        max-width: 400px;
    }
    .hanging-image .image{
        margin-left: 20rem;
        margin-top: 2rem;
    }
    .desc{
        margin-top: 28rem;
    }
}

@media (max-width: 967px) {
    .associate-cert h4 {
        width: 18rem; 
        max-width: 400px;
    }

    .hanging-image .image {
        margin-left: 0; 
        width: 400px;
        margin-top: 5rem;
    }

    .nut {
        margin-left: auto;
    }

    .cert-image-1-container {
        width: 100%; 
    }

    .desc {
        margin-top: 30rem; 
        margin-left: -20rem; 
        text-align: left; 
        justify-content: left;
        align-items: left;
    }

    .associate-cert {
        display: flex; 
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
    }
    .alibaba-cert-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
    }
    .specialty-cert {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        margin-bottom: 5rem; 
    }
    
    .cert-img {
        padding: 0.5rem; 
        border-radius: 10px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        width: 90%;
    }
}


@media(max-width: 768px) {
    .cert-image-1 {
        width: 100%; 
        height: auto; 
        transition: opacity 0.5s ease, transform 0.5s ease; 
        margin-bottom: 1rem;
    }

    .cert-image-1-container {
        overflow: hidden; 
        position: relative;
        width: 100%;
        text-align: left;
    }

    .cert-image-1.image1 {
        opacity: 1; 
        width: 100%;
    }

    .cert-image-1.image2 {
        opacity: 0;
        transform: scale(0.9); 
    }

    .cert-image-1-container:hover .image1 {
        opacity: 0; 
    }

    .cert-image-1-container:hover .image2 {
        opacity: 1; 
    }
    .specialty-cert {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
    .cert-img {
        width: 80%; 
    }
    .associate-cert h4{
        max-width: 250px;
    }
    .desc{
        margin-top: 25rem; 
        text-align: left;
        margin-left: -10rem;
    }
    .hanging-image .image {
        width: 300px; 
        height: auto; 
        margin-left: 10rem;
    }
    .string, .nut {
        display: none;
    }
}
@media (max-width: 600px) {
    .alibaba-cert-heading{
        font-size: 1.5rem;
        color: #8e0c65;
    }
    .associate-cert {
        flex-direction: column; 
        text-align: center; 
    }

    .associate-cert h4,
    .associate-cert div {
        margin-left: 0; 
        margin-top: 1rem; 
    }

    .associate-cert h4 {
        width: 20rem; 
        max-width: 400px;
    }

    .associate-cert .hanging-image {
        margin-top: 2rem; 
        max-width: 100px; 
        width: 100%; 
    }

    .hanging-image .image {
        width: 350px; 
        height: auto; 
        margin-left: 2rem;
    }
    .alibaba-cert-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px;
        width: 100%;
    }
    .cert-image-1 {
        
        width: 65%;
        height: auto;
        transition: opacity 0.5s ease, transform 0.5s ease; 
    }
    .specialty-cert {
        flex-direction: column; 
        align-items: center;
        font-size: 12px;
        padding: 1rem;
    }

    .cert-img {
        width: 70%; 
    }
    .specialty-cert {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
    }
}