.hanging-image {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 50px auto; 
    max-width: 150px; 
    width: 100%; 
}

.string {
    position: absolute;
    height: 4px; 
    background-color: #fff;
}

.string.left {
    left: 25%; 
    top: -25px; 
    width: 240px; 
    transform: rotate(-12deg); 
    z-index: -1;
    margin-left: -200px;
}

.string.right {
    right: 25%; 
    top: -25px; 
    width: 240px;
    transform: rotate(12deg); 
    z-index: -1;
   margin-right: -200px;
}

.nut {
    position: absolute;
    top: -55px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 15px;
    height: 15px; 
    background-color: #ccc; 
    border-radius: 50%;
    border: 2px solid #444; 
    z-index: 2;
}

.image {
    align-items: center;
    justify-content: center;
    display: block;
    width: 500px; 
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px; 
}

@media(max-width: 1292px){
    .string.left, .string.right{
        width: 220px;
        left: 11rem;
    }
    .nut{
        margin-left: 7rem;
    }
}

@media(max-width: 1024px){
    .string.left, .string.right{
        width: 225px;
        top: -8%;
        left: 14rem;
        margin-top: 2.3rem;
    }
    .nut{
        top: -5%;
        margin-left: 10rem;
    }
}

@media(max-width: 967px){
    .string.left, .string.right{
        width: 210px;
        top: 8%;
    }
    .string.left{
        left: 50%;
    }
    .string.right{
        right: 70%;
        margin-left: -10rem;
    }
    .nut{
        top: 9%;
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .hanging-image {
        width: 100px; 
        margin: 30px;
    }
    
    .string.left, .string.right, .nut {
        display: none;
    }
}