@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Caveat+Brush&display=swap');

.hero-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2rem; 
}

.hero-container::after,
.hero-container::before {
    content: "";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 50%; 
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 2rem;
    right: 0rem;
}

.hero-content {
    flex: 1;
    margin-top: -15rem;
}

.hero-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
}

.hero-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    opacity: 0;
    transform: translateX(-100%); 
    animation: fadeIn 2s ease-in-out forwards;
}

.hero-content p:nth-child(2) { animation-delay: 1s; }
.hero-content p:nth-child(3) { animation-delay: 1.5s; }
.hero-content p:nth-child(4) { animation-delay: 2s; }
.hero-content p:nth-child(5) { animation-delay: 2.5s; }
.hero-content p:nth-child(6) { animation-delay: 3s; }
.hero-content p:nth-child(7) { animation-delay: 3.5s; }
.hero-content p:nth-child(8) { animation-delay: 4s; }

.hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.hero-img > div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    flex-wrap: wrap; 
    justify-content: center;
}

.hero-img .main-image {
    position: relative;
}

.main-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: inherit; 
    filter: blur(15px); 
    z-index: -1; 
}

.main-image img {
    width: 80%;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cert-icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
    padding: 1rem; 
    border-radius: 0.65rem; 
    border: 1.5px solid #6852ba; 
    flex: 1; 
    align-self: flex-start; 
    margin-left: -4rem;
    width: 25rem;
    height: auto;
}

.cert-icon-container img {
    width: 7rem; 
    height: auto;
    border-radius: 0.65rem;
}

.hero-img > div > img:hover
{
    transform: translateY(-0.5rem);
}

.view-resume-btn {
    display: inline-block;
    padding: 0.6rem 2rem;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 70px;
    font-weight: bold;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-resume-btn:hover {
    color: #a993fe;
    background: #000;
    outline: 1.5px solid #a993fe;
}

.profile-btn {
    background-color: #a993fe; 
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

.profile-btn:hover {
    background-color: #7e61e7; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px);
}

.profile-btn:active {
    transform: translateY(0); 
}

.letter-image {
    position: absolute;
    top: 54%;
    left: 28%;
    width: 100px; 
    height: 100px; 
    transform: translate(-50%, -50%);
    cursor: pointer;
}
    
    .letter {
        left: 10px; /* Adjusted position */
        bottom: 0px;
        position: absolute;
        width: 80px; /* Adjusted width */
        height: 30px; /* Adjusted height */
        background: white;
        z-index: 1;
        overflow: hidden;
        
        
        .letter-border {
            height: 5px; /* Reduced border height */
            width: 100%;
            background: repeating-linear-gradient(
                -45deg,
                #cb5a5e,
                #cb5a5e 8px,
                transparent 8px,
                transparent 18px
            );
        }
        
        .letter-title {
            margin-top: 5px; /* Adjusted margin */
            margin-left: 3px; /* Adjusted margin */
            height: 5px; /* Adjusted height */
            width: 40%;
            background: #cb5a5e;
        }
        
        .letter-context {
            margin-top: 5px; /* Adjusted margin */
            margin-left: 3px; /* Adjusted margin */
            height: 5px; /* Adjusted height */
            width: 20%;
            background: #cb5a5e;
        }
        
        .letter-stamp {
            margin-top: 15px; 
            margin-left: 55px; 
            border-radius: 100%;
            height: 20px; 
            width: 20px; 
            background: #cb5a5e;
            opacity: 0.3;
        }
    }

.letter-image:hover {
    .animated-mail .letter {
        height: 100px; 
    }
}

.blur-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.877); 
    filter: blur(10px);
    z-index: 999; 
    transition: filter 0.3s ease; 
}

.white-paper {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    z-index: 1000;
    justify-content: center; 
    align-items: center;
}

.paper-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #0e0d0d;
}

.close-paper-button {
    align-self: flex-end;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.close-paper-button:hover {
    background-color: #c82333;
}

.caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1280px){
    .letter-image {
        width: 30px; 
        height: 30px; 
        margin-top: 1rem;
    }

.letter {
        width: 83px;
        height: 25px;
    }
    .cert-icon-container{
        margin-left: 2rem;
        max-width: 80%;
        width: 35rem;
    }
    .cert-icon img{
        width: 8rem;
    }
}

@media(max-width: 1136px){
    .letter-image {
        margin-left: 2rem;
    }
    .hero-content h2{
        font-size: 58px;
    }
}

@media (max-width: 1025px) {
    
    .letter-image {
        width: 30px; /* Reduced width */
        height: 30px; /* Reduced height */
        margin-left: 5rem;
        margin-top: 2rem;
    }
.letter {
        width: 83px; /* Reduced width */
        height: 25px; /* Reduced height */
    }
    .cert-icon-container{
        margin-left: 2rem;
        width: 27rem;
    }
    .cert-icon img{
        width: 6.5rem;
    }
    .main-image img{
        width: 23rem;
    }
    .hero-content h2{
        font-size: 55px;
    }
}

@media (max-width: 950px) {
    .hero-content{
        margin-top: 3rem;
    }
    .hero-content h2{
        font-size: 42px;
    }
    .hero-content p{
        font-size: 13.5px;
    }

    .letter-image {
        width: 15px;  /* Adjust as needed */
        height: 15px; /* Maintain aspect ratio */
        margin-left: 1rem;
        margin-top: 1.5rem;
    }
.letter {
        width: 85px;  /* Adjust based on design */
        height: 25px; /* Keep aspect ratio in mind */
    }
    .cert-icon-container{
        margin-left: 2rem;
        max-width: 70%;
    }
    .cert-icon img{
        width: 5rem;
    }
    .view-resume-btn{
        width: 11.5rem;
        font-size: 10px;
        padding: 0.8rem;
    }
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        padding: 1rem; /* Reduced padding for smaller screens */
    }
    .hero-img {
        margin-top: 1rem; /* Adjust margin for smaller screens */
    }
    .hero-img .main-image img {
        width: 100%; /* Set image to take full width */
        max-width: 600px; /* Increase the max-width */
        height: auto; /* Ensure aspect ratio is maintained */
    }
    .hero-content {
        margin-top: 0; /* Reset margin for better visibility */
        text-align: center; /* Center align text */
    }
    .hero-content h2 {
        font-size: 4rem;
        line-height: 3.5rem;
        margin-bottom: 7rem;
    }
    .hero-content p {
        font-size: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .hero-container::after,
    .hero-container::before {
        width: 18rem;
        height: 18rem;
    }
    .hero-container::after {
        top: 0;
        left: 0;
    }
    .hero-container::before {
        bottom: 2rem;
        right: 0;
    }
    .view-resume-btn{
        margin-bottom: 3rem;
        font-size: 1rem;
        width: 20rem;
    }
    .icon-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 30rem;
    }
    .cert-icon-container{
        width: 65rem;
        max-width: 60%;
        margin-left: -3rem;
    }
    .cert-icon img{
        width: 10rem;
    }
    .letter-image {
        width: 50px; /* Reduced width */
        height: 50px; /* Reduced height */
        margin-top: 40rem;
        margin-left: 16rem;
    }
.letter {
        width: 83px; /* Reduced width */
        height: 25px; /* Reduced height */
    }

    .profile-btn{
        margin-left: -10rem;
    }

    .white-paper{
        width: 40rem;
        height: 45rem;
    }
}

@media (max-width: 600px) {
    .hero-content h2 {
        font-size: 2.2rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }
    .hero-content p {
        font-size: 0.8rem;
        line-height: 1.3rem;
        margin: 0 auto;
    }
    .hero-img {
        gap: 1rem;
    }
    .hero-img .main-image img {
        width: 100%; /* Set image to take full width */
        max-width: 300px; /* Increase the max-width */
        height: auto; /* Ensure aspect ratio is maintained */
    }

    .view-resume-btn {
        font-size: 1rem;
        width: 20rem;
    }

    .icon-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the icons horizontally */
        justify-content: center;
        margin: 0.5rem 0; /* Adjusts vertical margin for better spacing */
        margin-left: 23rem;
    }
    .cert-icon-container{
        width: 38rem;
        max-width: 60%;
        margin-left: -5rem;
    }
    .cert-icon img{
        width: 5rem;
    }
    .letter-image {
        width: 50px; /* Reduced width */
        height: 50px; /* Reduced height */
        margin-top: 21rem;
        margin-left: 10rem;
    }
.letter {
        width: 80px; /* Reduced width */
        height: 25px; /* Reduced height */
    }

    .profile-btn{
        margin-left: -10rem;
    }
    .paper-content{
        font-size: 10px;
    }
    .white-paper{
        width: 20rem;
        height: 35rem;
    }
}

@media(max-width: 425px){
    .white-paper{
        width: 20rem;
        height: 35rem;
    }
}