@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Shadows+Into+Light&display=swap');

.speaker-page-wrapper {
  position: relative;
  min-height: 100vh; 
}

.aurora-gradient {
  position: absolute; 
  bottom: -50px; 
  left: 0;
  right: 0;
  height: 1000px; 
  z-index: -1; 
}

.speaker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  position: relative; 
}

.heading {
  text-align: center;
  position: relative; 
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  margin: 0; 
}

h1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #6751b9; 
  animation: underline 6s infinite ease-in-out;
}

@keyframes underline {
  0% { width: 0%; }
  50% { width: 100%; }
  100% { width: 0%; }
}

.hidden-text {
  opacity: 0;
  animation: revealText 3s forwards;
}

@keyframes revealText {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.button-container {
  text-align: center;
  margin-top: 1.5rem; 
}

.button {
  display: inline-block;
  padding: 0.6rem 2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  color: white;
  text-decoration: none;
  border-radius: 0.65rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  color: #a993fe;
  background: #000;
}
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden; 
  box-sizing: border-box;
}

.slider-slide {
  display: flex;
  justify-content: center; 
}

.slider-image {
  width: 35rem; 
  height: 35rem; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures images cover the area */
  border: 2px solid #6751b9; /* Border box for images */
  border-radius: 0.65rem; /* Rounded corners */
  transform: translateX(480px);
}

.arrow-left-2,
.arrow-right-2 {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  background: #130f2a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.arrow-left-2 {
  left: 20%; /* Adjust positioning for left arrow */
}

.arrow-right-2 {
  right: 20%; /* Adjust positioning for right arrow */
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.speaker-content h2 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  text-align: center;
}

.speaker-content {
  display: flex;
  flex-direction: column;
}

.content-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Space between elements */
  margin-top: 3rem;
}

.image-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 10rem;
  margin-left: 1rem;
}

.text-content {
  flex: 2; 
  margin-left: 2rem;
  padding: 3rem;
}

.image-extra {
  flex: 1;
  margin-right: 3rem;
}

.image-grid img, 
.image-extra img {
  width: 100%;
  border: 3px solid #fff;
}

.image-extra img {
  width: 100%;
  border: 3px solid #fff;
  margin-top: 17rem;
  transform: scale(1.35);
  margin-left: -55px;
}

.text-content{
  max-width: 40rem;
}

.text-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Cursive';
}

.text-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.text-content p:nth-child(1) {
  animation-delay: 1s;
}

.text-content p:nth-child(2) {
  animation-delay: 1.5s; /* Delay by 0.5 seconds */
}

.text-content p:nth-child(3) {
  animation-delay: 2s; /* Delay by 1 second */
}

.text-content p:nth-child(4) {
  animation-delay: 2.5s;
}

.text-content p:nth-child(5) {
  animation-delay: 3s; /* Delay by 0.5 seconds */
}

.text-content p:nth-child(6) {
  animation-delay: 3.5s; /* Delay by 1 second */
}

.text-content p:nth-child(7) {
  animation-delay: 4s; /* Delay by 1 second */
}

.text-content p:nth-child(8) {
  animation-delay: 4.5s; /* Delay by 1 second */
}

.text-content p:before {
  content: "\2713"; 
  margin-right: 0.5rem;
  font-size: 1.5rem; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 

@media (max-width: 1024px) {
  .arrow-left-2 {
    left: 10%; /* Adjust for smaller screens */
  }

  .arrow-right-2 {
    right: 10%; /* Adjust for smaller screens */
  }
  .slider-image {
    width: 35rem; 
    height: 35rem; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures images cover the area */
    border: 2px solid #6751b9; /* Border box for images */
    border-radius: 0.65rem; /* Rounded corners */
    transform: translateX(240px);
  }
  .text-content h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    width: 17rem;
  }
  .text-content p{
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 0.2rem;
  }
  .image-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 20rem; /* Adjust as needed */
    margin-left: 1rem;
  }
  
  .image-grid img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    border: 3px solid #fff; /* Border around images */
    object-fit: cover; /* Ensures the image covers the area */
  }
  .content-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px; /* Space between elements */
    margin-top: 3rem;
    width: 100%; /* Ensures it can take full width */
  }
}

@media (max-width: 768px) {
  .heading-container {
    padding: 0 1rem; 
    margin-bottom: 1.5rem; /* Adjusted margin for spacing */
  }
  
  h1 {
    font-size: 2rem; 
  }
  
  .button {
    padding: 0.5rem 1.5rem; 
    font-size: 1rem; 
  }

  .arrow-left-2 {
    left: 7%; 
  }

  .arrow-right-2 {
    right: 7%; 
  }

  .slider-image {
    width: 30rem;
    height: 30rem;
    object-fit: cover; 
    border: 2px solid #6751b9; 
    border-radius: 0.65rem; 
    transform: translateX(150px);
  }

  .content-layout {
    flex-direction: column; /* Align images and text in a column */
    align-items: center; /* Center items */
    gap: 2rem; /* Space between images and text */
    width: 100%; /* Full width of the container */
  }

  .image-grid,
  .image-extra {
    width: 100%; /* Make images full width in their container */
    display: flex;
    flex-direction: column; /* Align images in a column */
    align-items: center; /* Center images */
  }

  .image-grid img,
  .image-extra img {
    width: 60%; /* Set width to 60% of the container */
    height: auto; /* Maintain aspect ratio */
    border: 3px solid #fff; /* Border around images */
    margin-bottom: 1rem; /* Space below each image */
  }

  .image-extra {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the image-extra */
    margin-top: -11rem;
    margin-bottom: 2rem;
  }

  .image-extra img {
    width: 22rem; /* Adjust width as needed */
    margin-left: 3rem; /* Reset margin-left */
  }

  .text-content {
    text-align: center; /* Center text under images */
    max-width: 80%; /* Optional: limit text width */
    margin-top: 1rem; /* Space above text */
  }

  .text-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .text-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .heading-container {
    padding: 0 0.5rem; 
    margin-bottom: 1rem; 
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  .button {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }

  .arrow-left-2 {
    left: 5%; 
  }

  .arrow-right-2 {
    right: 5%; 
  }
  .slider-image {
    width: 15rem; 
    height: 15rem; 
    object-fit: cover; 
    border: 2px solid #6751b9; 
    border-radius: 0.65rem; 
    transform: translateX(100px);
  }
  .image-extra img {
    width: 15rem; /* Adjust width as needed */
    margin-left: 3rem; /* Reset margin-left */
    margin-top: 13rem;
  }
}